@import "reset.css";

$main: #204350;
$main-light: #2a8f9c;
$main_accent: #00838f;
$main-text: #383838;
$main-back: #f1f2f1;
$hover-back: #e8e9e8;
$border: #e3e3e3;
$dark-border: #bbbbbb;
$danger: #d32f2f;
$golden: #fbc02d;

body {
    font-family: Roboto;
    color: $main-text;
    font-size: 16px;
}

.app {
    max-width: 600px;
    margin: 0 auto;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    overflow: hidden;
}

.header {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    background: $main;

    &-info {
        padding: 10px 20px;
        font-size: 12px;
        color: #ffffff;
        background: $main-light;
    }

    &__back {
        display: flex;
        color: $main_accent;
        text-decoration: none;
    }

    &__caption {
        margin-right: 20px;
        font-size: 24px;
        font-weight: 700;
        color: $main_accent;
        text-decoration: none;

        &-active{
            color: #ffffff;
        }
    }

    &__btn {
        margin-left: auto;
        padding: 5px 10px;
        border-radius: 5px;
        color: #ffffff;
        background: $main_accent;
        border: none;
        text-transform: capitalize;
    }
}

.list {
    background: $main-back;

    &-item {
        display: flex;
        align-items: center;
        padding: 10px 20px;
        box-sizing: border-box;
        transition: .3s;

        &:not(:last-child) {
            border-bottom: 1px solid $border;
        }

        &:hover {
            background: $hover-back;

            .list-item__btn {
                opacity: 1;
            }
        }

        &__item-left{
            margin-right: auto;
        }

        &__btn {
            padding: 0;
            border: none;
            background: transparent;
            opacity: 0;
            transition: .3s;

            &:hover {
                color: $danger;
            }
        }

        a {
            color: $main-text;
            text-decoration: none;
        }
    }
}

.book-info {

    &__field {
        display: block;
        margin-bottom: 5px;

        &_title {
            margin-bottom: 10px;
            font-weight: 700;
        }
    }

    &__rating {
        display: block;
        color: $golden;
        cursor: pointer;
    }
}

.modal {
    &-container {
        position: fixed;
        z-index: 100;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }

    &-overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
    }

    &-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 400px;
        width: 100%;
        border-radius: 5px;
        background: #ffffff;
    }

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 20px;
        border-bottom: 1px solid $border;

        &__caption {
            font-weight: 700;
            text-transform: capitalize;
        }

        &__btn {
            padding: 0;
            background: transparent;
            border: none;
            transition: .3s;

            &:hover {
                color: $danger;
            }
        }
    }

    &-body {
        box-sizing: border-box;
        padding: 30px 20px;
        border-bottom: 1px solid $border;
    }

    &-footer {
        display: flex;
        justify-content: flex-end;
        padding: 15px 20px;

        &__btn {
            margin-left: 10px;
            padding: 5px 10px;
            border-radius: 5px;
            border: none;
            color: #ffffff;
            background: $main_accent;
        }
    }

    &-books{
        max-height: 500px;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-track {
            background: $border;
            border-radius: 3px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $main_accent;
            border-radius: 3px;
        }
    }
}

.input-container {
    display: flex;
    align-items: center;

    &:not(:last-child) {
        margin-bottom: 20px;
    }

    &__caption {
        display: block;
        width: 50%;
        max-width: 100px;
    }

    &__field {
        width: 100%;
        padding: 5px 10px;
        border-radius: 5px;
        border: 1px solid $dark-border;
    }
}